// 侧边栏变量
$menuBg: #304156;
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

// 侧边栏宽度
$sideBarWidth: 210px;

// 侧边栏折叠宽度
$sideBarCollapseWidth: 54px;

// 导航栏高度
$navBarHeight: 50px;

// 标签视图高度
$tagsViewHeight: 34px;

